.inputText{
  border-color: blue;
  border-radius: 10%;
  height: 20px;
  width: 150px;
  margin-top: 10px;
}

.optellenButton{
  height: 30px;
  font-size: 15px;
  width: 150px;
  margin-top: 10px;
  background-color: blue;
  color: white;
  border-radius: 10%;
}

